:root {
  --primary: #b8000a;
  --primary-darken-1: #960008;
  --selection: #b8000a;
}

:root[data-color-theme="BLUE_THEME"] {
  --primary: #07163c;
  --primary-darken-1: #040d24;
  --selection: #3a67ee;
}

:root[data-color-theme="RED_THEME"] {
  --primary: #b8000a;
  --primary-darken-1: #960008;
  --selection: #b8000a;
}

* {
  font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif !important;
}

*::selection {
  background-color: var(--selection);
  color: white;
}

.no-link {
  text-decoration: none;
  width: fit-content;
  display: flex;
}

.w-fit-content {
  width: fit-content !important;
}

.carousel__slide--clone:first-child {
  margin-inline-start: 0 !important;
}
